/* Setup | START */
:root
{
  --header-fixed-height: 62px;
  --header-img-wrapper-fixed-size: 15px;

  --text-extra-small-size: 12px;
  --text-small-size: 15px;
  --text-medium-size: 20px;
  --text-large-size: 45px;

  --primary: #cd0004;
  --primary-dark: #a00003;
  --secondary: #000000;
  --thirdary: rgba(253,95,0,1);
  --soft-white-color: #f9f9f9;
  --soft-white-color-darker: #ededeb;
  --soft-white-color-text: #a4a4a4;

  /*--gradient-background: linear-gradient(90deg, rgba(255,11,85,1) 0%, rgba(253,95,0,1) 100%);*/
  --gradient-background: var(--primary);

  --border-radius-default: .3rem;

  --section-1-vertical-padding: 180px;

  --default-transition: 0.3s ease;

  --boostrap-lg-res: 992px;
}

*
{
  font-family: 'Heebo', sans-serif;
}

body
{
  background: white;
}

.section-wrapper 
{
  background: white;
}

.text-bold
{
  font-weight: bold;
}

.text-extra-small-size
{
  font-size: var(--text-extra-small-size);
}

.text-small-size
{
  font-size: var(--text-small-size);
}

.text-medium-size
{
  font-size: var(--text-medium-size);
}

.text-large-size
{
  font-size: var(--text-large-size);
}

.text-white 
{
  color: white;
}

.text-ellipsis
{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

$gradient-1: var(--primary);
$gradient-2: var(--thirdary);
.text-gradient 
{
  /*background: -webkit-linear-gradient(0deg, $gradient-1 0%, $gradient-2 100%);*/
  background: var(--primary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.default-btn, .default-btn-yellow
{
  background: none;
  border: none;
  padding: 8px 16px;
  outline: none;
  border-radius: var(--border-radius-default);
  transition: var(--default-transition);
}

.default-btn a, .default-btn-yellow a
{
  color: inherit !important;
}

.default-btn:hover, .default-btn-yellow:hover
{
  background: var(--soft-white-color-darker);
  transition: var(--default-transition);
}

.default-btn-yellow, .default-btn-yellow i
{
  color: white;
  background: none;
}

.default-btn-yellow:hover
{
  background: var(--primary-dark);
}

.default-btn:focus, .default-btn-yellow:focus
{
  outline: none;
}

.featured-btn
{
  background: none;
  border: 2px solid var(--primary);
  padding: 10px 20px;
  color: var(--primary);
  font-weight: bold;
  transition: var(--default-transition);
}

.featured-btn:hover
{
  background: var(--primary);
  background: var(--gradient-background);
  color: white;
  transition: var(--default-transition);
}

.featured-btn:hover > .featured-btn i 
{
  color: white;
  transition: var(--default-transition);
}

.featured-btn a, .featured-btn-white a
{
  color: inherit;
}

.featured-btn a:hover, .featured-btn-white a:hover 
{
  text-decoration: none;
}

.featured-btn-white
{
  background: none;
  border: 2px solid white;
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  transition: var(--default-transition);
}

.featured-btn-white:hover
{
  background: white;
  color: var(--primary);
  transition: var(--default-transition);
}

.card 
{
  border-radius: var(--border-radius-default);
}

.text-shadow 
{
  text-shadow: 2px 5px 10px rgba(0,0,0,0.5);
}

.profile-btn
{
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  font-size: 25px;
  margin: 2px;
  transition: var(--default-transition);
}

.profile-btn:hover
{
  opacity: 0.7;
  transition: var(--default-transition);
}

.widget.PopularPosts .item-content .item-title a, .widget.PopularPosts .post-des a
{
    color: var(--secondary);
    font-size: var(--text-small-size);
    text-transform: uppercase;
    font-weight: bold;
}

.widget.PopularPosts .item-content .item-title a:hover, .widget.PopularPosts .post-des a:hover
{
    text-decoration: none;
}

/* Setup | END */

/* Nav Bar | START */
.header-wrapper
{
  background-color:white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.header-wrapper a 
{
  text-decoration: none;
  color: var(--secondary);
}

.header-wrapper a:hover 
{
  text-decoration: none;
}

.brand img
{
  height: var(--text-medium-size);
}

.brand button, .hamburger-nav button
{
  font-size: var(--header-img-wrapper-fixed-size);
}

.header-wrapper .brand .default-btn, .footer-wrapper .brand .default-btn
{
  padding: 6px 16px;
}

.header-wrapper .brand .default-btn img, .footer-wrapper .brand .default-btn img
{
  height: 25px;
}

.side-nav, .side-nav-background
{
  right: 0;
  top: 0;
  height: 100vh;
}

.side-nav-background
{
  background: black;
  opacity: 0.6;
  width: 100vw;
}

.side-nav
{
  background: white;
  text-align: right;
  box-shadow: -2px 0px 5px rgba(0,0,0,0.2);
}

#nav-bar 
{
  padding: 12px 0px;
}

.nav-bar-secondary 
{
  background: var(--primary);
  background: var(--gradient-background);
}

.dropdown-list-wrapper 
{
  position: absolute;
  background: white;
  width: 200px;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

.dropdown-list-wrapper ul 
{
  margin: 0;
  padding: 0;
}

.dropdown-list-wrapper li
{
  list-style-type: none;
}

.dropdown-list-wrapper li .default-btn 
{
  border-radius: 0px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

/* Nav Bar | END */

/* Footer| START */
.footer-wrapper
{
  background: var(--primary);
  background: var(--gradient-background);
  text-align: center;
  padding: 30px;
}

.footer-wrapper .default-btn:hover 
{
  background: none;
}

.footer-wrapper .profile-contact-wrapper
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.profile-contact-wrapper button i, .footer-wrapper p
{
  color: white;
}

/* Footer | END */

/* Image Viewer | START */

.image-viewer-wrapper 
{
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1031;
  background: rgba(0,0,0,0.6);
}

.image-viewer-wrapper .image 
{
  width: 80%;
}

.image-viewer-wrapper ul 
{
  margin: 0;
  padding: 0;
}

.image-viewer-wrapper li 
{
  list-style-type: none;
}

.image-viewer-wrapper .image-closer 
{
  margin-top: 20px;
  background: var(--primary);
  background: var(--gradient-background);
}

.image-viewer-wrapper .image-closer:hover
{
  background: var(--primary);
  background: var(--gradient-background);
  box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
}

/* Image Viewer | END */